 
 * {
    margin: 0;
    padding: 0;
 }

.btn-logout {
    color: #6033AA;
    margin-left: 2rem;
    background-color: white;
    border-color: white;
    border-style: none;
}
.btn-logout:hover {
    border-color: aliceblue;
    box-shadow: none;
    
    
   
}

.navbar__container {
    border-color: grey;
    
    
}

