 
 * {
    margin: 0;
    padding: 0;
 }

.btn-logout {
    padding-left: 2rem;
    background-color: white
}
.btn-logout:hover {
    box-shadow: none;
    box-sizing: border-box;
    border-style: none;
}

.navbar__container {
    border-color: black;
    box-shadow: inset;
}